[Unit]
Description=SOC collector {{ item.name }}
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ item.user | default('root') }}
ExecStart={{ soc_collector_executable_checks.results[soc_collector_job_index].stdout }}{% for argument in item.arguments | default([]) %} {{ argument }}{% endfor %}
PrivateTmp=true
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ soc_collector_write_path_checks.results[soc_collector_job_index].stdout }}
