node_name = {{ inventory_hostname }}
node_id_file = /var/lib/graylog-datanode/node-id
password_secret = {{ graylog_datanode_password_secret }}
mongodb_uri = {{ graylog_datanode_mongodb_uri }}
bind_address = {{ ansible_host }}
datanode_http_port = 8999
opensearch_heap = 24g
clustername = enterprise-graylog
initial_cluster_manager_nodes = {{ groups['graylog_datanode'] | join(',') }}
opensearch_location = /usr/share/graylog-datanode/dist
opensearch_config_location = /var/lib/graylog-datanode/opensearch/config
opensearch_data_location = /var/lib/graylog-datanode/opensearch/data
opensearch_logs_location = /var/log/graylog-datanode/opensearch
path_repo = /mnt/soc-backup
