network.host: "{{ ansible_host }}"
node.name: "{{ inventory_hostname }}"
cluster.name: "{{ wazuh_indexer_cluster_name }}"
cluster.initial_master_nodes: {{ groups['wazuh_indexer'] | to_json }}
discovery.seed_hosts: {{ groups['wazuh_indexer'] | map('extract', hostvars, 'ansible_host') | list | to_json }}
node.max_local_storage_nodes: "1"
path.data: /var/lib/wazuh-indexer/data
path.logs: /var/log/wazuh-indexer
path.repo: ["{{ wazuh_indexer_repository_path }}"]
plugins.security.ssl.http.pemcert_filepath: {{ wazuh_indexer_certificate }}
plugins.security.ssl.http.pemkey_filepath: {{ wazuh_indexer_private_key }}
plugins.security.ssl.http.pemtrustedcas_filepath: {{ wazuh_indexer_ca }}
plugins.security.ssl.transport.pemcert_filepath: {{ wazuh_indexer_certificate }}
plugins.security.ssl.transport.pemkey_filepath: {{ wazuh_indexer_private_key }}
plugins.security.ssl.transport.pemtrustedcas_filepath: {{ wazuh_indexer_ca }}
plugins.security.ssl.http.enabled: true
plugins.security.ssl.transport.enforce_hostname_verification: true
plugins.security.ssl.transport.resolve_hostname: false
plugins.security.authcz.admin_dn:
  - "CN=admin,OU=Wazuh,O=Wazuh,L=California,C=US"
plugins.security.nodes_dn:
{% for host in groups['wazuh_indexer'] %}
  - "CN={{ host }},OU=Wazuh,O=Wazuh,L=California,C=US"
{% endfor %}
plugins.security.check_snapshot_restore_write_privileges: true
plugins.security.enable_snapshot_restore_privilege: true
plugins.security.restapi.roles_enabled:
  - all_access
  - security_rest_api_access
plugins.security.system_indices.enabled: true
plugins.security.system_indices.indices: [".plugins-ml-model", ".plugins-ml-task", ".opendistro-alerting-config", ".opendistro-alerting-alert*", ".opendistro-anomaly-results*", ".opendistro-anomaly-detector*", ".opendistro-anomaly-checkpoints", ".opendistro-anomaly-detection-state", ".opendistro-reports-*", ".opensearch-notifications-*", ".opensearch-notebooks", ".opensearch-observability", ".opendistro-asynchronous-search-response*", ".replication-metadata-store"]
compatibility.override_main_response_version: true
