global_defs {
    router_id {{ inventory_hostname | upper | replace('-', '_') }}
    script_user root
    enable_script_security
}
vrrp_script chk_graylog {
    script "{{ siem_edge_health_check_path }} graylog_core"
    interval 2
    fall 2
    rise 2
}
vrrp_script chk_wazuh {
    script "{{ siem_edge_health_check_path }} wazuh_agents"
    interval 2
    fall 2
    rise 2
}
vrrp_script chk_dashboard {
    script "{{ siem_edge_health_check_path }} wazuh_dashboards"
    interval 2
    fall 2
    rise 2
}
vrrp_instance VI_GRAYLOG {
    state BACKUP
    interface {{ siem_edge_interface }}
    virtual_router_id 136
    priority {{ siem_edge_keepalived_priority }}
    nopreempt
    advert_int 1
    unicast_src_ip {{ ansible_host }}
    unicast_peer { {{ siem_edge_keepalived_peer }} }
    virtual_ipaddress { {{ siem_edge_graylog_vip }}/{{ siem_edge_prefix_length }} dev {{ siem_edge_interface }} }
    track_script { chk_graylog }
}
vrrp_instance VI_WAZUH {
    state BACKUP
    interface {{ siem_edge_interface }}
    virtual_router_id 139
    priority {{ siem_edge_keepalived_priority }}
    nopreempt
    advert_int 1
    unicast_src_ip {{ ansible_host }}
    unicast_peer { {{ siem_edge_keepalived_peer }} }
    virtual_ipaddress { {{ siem_edge_wazuh_vip }}/{{ siem_edge_prefix_length }} dev {{ siem_edge_interface }} }
    track_script { chk_wazuh }
}
vrrp_instance VI_DASHBOARD {
    state BACKUP
    interface {{ siem_edge_interface }}
    virtual_router_id 140
    priority {{ siem_edge_keepalived_priority }}
    nopreempt
    advert_int 1
    unicast_src_ip {{ ansible_host }}
    unicast_peer { {{ siem_edge_keepalived_peer }} }
    virtual_ipaddress { {{ siem_edge_dashboard_vip }}/{{ siem_edge_prefix_length }} dev {{ siem_edge_interface }} }
    track_script { chk_dashboard }
}
