global_defs {
    router_id {{ inventory_hostname | upper | replace('-', '_') }}
    script_user root
    enable_script_security
}
vrrp_script chk_graylog {
    script "/usr/local/sbin/check-haproxy-backend graylog_core"
    interval 2
    fall 2
    rise 2
}
vrrp_script chk_wazuh {
    script "/usr/local/sbin/check-haproxy-backend wazuh_agents"
    interval 2
    fall 2
    rise 2
}
vrrp_script chk_dashboard {
    script "/usr/local/sbin/check-haproxy-backend wazuh_dashboards"
    interval 2
    fall 2
    rise 2
}
vrrp_instance VI_GRAYLOG {
    state BACKUP
    interface {{ siem_edge_interface }}
    virtual_router_id 136
    priority {{ siem_edge_keepalived_priority }}
    nopreempt
    advert_int 1
    unicast_src_ip {{ ansible_host }}
    unicast_peer { {{ siem_edge_keepalived_peer }} }
    virtual_ipaddress { 192.0.2.36/25 dev {{ siem_edge_interface }} }
    track_script { chk_graylog }
}
vrrp_instance VI_WAZUH {
    state BACKUP
    interface {{ siem_edge_interface }}
    virtual_router_id 139
    priority {{ siem_edge_keepalived_priority }}
    nopreempt
    advert_int 1
    unicast_src_ip {{ ansible_host }}
    unicast_peer { {{ siem_edge_keepalived_peer }} }
    virtual_ipaddress { 192.0.2.39/25 dev {{ siem_edge_interface }} }
    track_script { chk_wazuh }
}
vrrp_instance VI_DASHBOARD {
    state BACKUP
    interface {{ siem_edge_interface }}
    virtual_router_id 140
    priority {{ siem_edge_keepalived_priority }}
    nopreempt
    advert_int 1
    unicast_src_ip {{ ansible_host }}
    unicast_peer { {{ siem_edge_keepalived_peer }} }
    virtual_ipaddress { 192.0.2.40/25 dev {{ siem_edge_interface }} }
    track_script { chk_dashboard }
}
